<script type="text/javascript" charset="utf-8">
    function Log(element, id) {

        let rect = element.getBoundingClientRect();
        $.ajax({
            type: "POST",
            url: "/logs",
            data: {log: {subject_id: <%=return_subject_id %>, button_name: id, position_x: rect.x, position_y: rect.y}},
            success: function(
            ){
            }
        });
    }
</script>


<script>
    setTimeout(function(){  let y =document.getElementById('button');y.style.display = "block"; }, 3000);

</script>


<div class='container'>
  <div class="row">
    <div class="col-sm-8">
      <iframe src=<%= "https://docs.google.com/forms/d/e/1FAIpQLSdyq-NzsvXuR8VbYF3RtbBbYHp2S1Z94XLVFuORj_u2_KCdCg/viewform?embedded=true&entry.190951730=#{return_subject_id}" %> width="720" height="520" frameborder="0" marginheight="0" marginwidth="0">Načítava sa…</iframe>
    </div>
    <div class="col-sm-4"  align="right">
      <p>Vyplňte dotazník a stlačte tlačidlo Pokračovať.</p>

      <% if return_subject_id % 3 == 0 %>
        <a href='<%=article5_path%>' id="button"  class="btn btn-primary", onclick="Log( this,'formstartleave')" style="display: none;">Pokračovať</a>
      <%end %>

      <% if return_subject_id % 3 == 1 %>
        <a href='<%=article1_path%>' id="button"  class="btn btn-primary", onclick="Log( this,'formstartleave')" style="display: none;">Pokračovať</a>
      <%end %>

      <% if return_subject_id % 3 == 2 %>
        <a href='<%=article3_path%>' id="button"  class="btn btn-primary", onclick="Log( this,'formstartleave')" style="display: none;">Pokračovať</a>
      <%end %>

    </div>
  </div>
</div>






