<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script type="text/javascript" charset="utf-8">
    function Log(element, id) {

        let rect = element.getBoundingClientRect();
        $.ajax({
            type: "POST",
            url: "/logs",
            data: {log: {subject_id: <%=return_subject_id %>, button_name: id, position_x: rect.x, position_y: rect.y}},
            success: function(
            ){
            }
        });
    }
</script>





<div class='container'>
  <div class="row">
    <div class="col-sm-8">
      <iframe src=<%= "https://docs.google.com/forms/d/e/1FAIpQLSfjoUTT_hFAW_nUZDjYMGgSob6w-GSHNO2-A7W1FmXVAZdc3g/viewform?usp=pp_url&entry.866716593=#{return_subject_id}" %> width="720" height="520" frameborder="0" marginheight="0" marginwidth="0">Načítava sa…</iframe>
    </div>
    <div class="col-sm-4"  align="right">
      <p>Vyplňte dotazník a stlačte tlačidlo Pokračovať.</p>

      <% if return_subject_id % 3 == 0 %>
        <a href='<%=article4_path%>'  class="btn btn-primary", onclick="Log( this,'form32leave')">Pokračovať</a>
      <%end %>

      <% if return_subject_id % 3 == 1 %>
        <a href='<%=end_path%>'  class="btn btn-primary", onclick="Log( this,'form32leave')">Pokračovať</a>
      <%end %>

      <% if return_subject_id % 3 == 2 %>
        <a href='<%=article2_path%>'  class="btn btn-primary", onclick="Log( this,'form32leave')">Pokračovať</a>

      <%end %>

    </div>
  </div>
</div>