<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @log.subject_id %>
</p>

<p>
  <strong>Button name:</strong>
  <%= @log.button_name %>
</p>

<p>
  <strong>Position x:</strong>
  <%= @log.position_x %>
</p>

<p>
  <strong>Position y:</strong>
  <%= @log.position_y %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
